<h1> Bienvenue sur notre site de vente de produits d'occasion entre particuliers ! </h1>

<p> Notre plateforme permet aux particuliers de vendre et d'acheter des produits d'occasion en toute simplicité. L'achat et la vente d'articles d'occasion est bénéfique pour tout le monde : non seulement cela permet de donner une seconde vie à des produits qui autrement seraient jetés, mais cela offre aussi l'occasion aux acheteurs de dénicher de bonnes affaires.

Sur notre site, vous trouverez une grande variété de produits d'occasion, allant des vêtements aux appareils électroniques en passant par les meubles et les jouets. Vous pouvez facilement parcourir notre catalogue en utilisant les filtres de recherche pour trouver exactement ce que vous cherchez. </p>


<p><%= link_to 'Rechercher un produit', index %></p>

<p>

Nous prenons la sécurité de nos utilisateurs très au sérieux. Pour cela, nous avons mis en place un système de transactions sécurisées via une plateforme de paiement en ligne.
Prochainement, un système de notation et de commentaires pour évaluer les expériences de chaque utilisateur verra  le jour.

Si vous souhaitez vendre un produit sur notre site, il vous suffit de créer un compte et de publier une annonce. Vous pouvez décrire le produit, ajouter des photos et fixer un prix. Une fois que quelqu'un a acheté votre produit, nous vous aidons à organiser la livraison et à recevoir le paiement en toute sécurité. </p>

<p><%= link_to 'Publier une annonce', index %></p>