

<div class="container">
<div class="row justify-content-md-center">
  <div class="col col-lg-2">
  
  </div>
  <div class="col-md-auto">

<h1>Nouveau produit proposé à la vente</h1>

<%= render "form", item: @item %>

<br>

<div>
  <%= link_to "Retour", items_path %>
</div>


Variable width content
</div>
<div class="col col-lg-2">

</div>
</div>  
</div>